html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #250127;
  font-family: "Playwrite GB S", cursive;
}

a {
  text-decoration: none;
}

a, p {
  color: #1E1E1E;
}

main {
  display: flex;
  justify-content: space-between;
}

/*Header */

.header {
  padding: 1rem;
  background-color: #c96df7;
  
}

.photo {
  display: block;
  width: 200px;
  margin-right: 6rem;
}

.list {
  list-style: none;
  padding: 0;
}

.title {
  margin-bottom: 2rem;
  font-size: 64px;
  text-align: center;
}

.list-item {
  display: block;
  margin-bottom: 1rem;
  line-height: 1;
  color: #1E1E1E;

}


.contacts-icon {
  display: inline-block;
  margin-right: 1rem;
  color: #1E1E1E;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  
}

.list-link {
  padding: 0 20px;
  color: #250127;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.5s;
}

.list-link:hover {
  background-color: #250127;
  color: #c96df7;
}

/* ASIDE */

.aside {
  width: 40%;
  padding: 2rem;
  background-color: #b6befa;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem
}

.aside-section {
  margin-bottom: 2rem;
  text-align: center;
}

/* Section */

.main-section {
  padding: 2rem;
}

pre {
  background-color: rgb(221, 221, 221);
}

/*Projects*/
.projects-content {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-icon {
  padding: .5rem;
  font-size: 64px;
}

/* Footer */
.footer {
  background-color: #c96df7;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.icon {
  font-size: 40px;
}

.year {
  font-weight: bold;
}

.logo {
  width: 64px;
}